@model IEnumerable<DataAccessLayer.EmpInfo>

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Add New", "SaveEmployee",null, new { @class = "btn btn-success" })
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfJoining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassCode)
            </th>
            <th></th>
        </tr>
        <tbody >
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfJoining)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassCode)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditEmployee", new { EmailId = item.EmailId }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Delete", "Delete", new { EmailId = item.EmailId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
    </tbody>

    </table>
